@font-face {
    font-family: blackRaleway;
    src: url('./fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: mediumRaleway;
    src: url('./fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: regularRaleway;
    src: url('./fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: lightRaleway;
    src: url('./fonts/Raleway-Light.ttf');
}

:root {
    --primary: #E3220F
}

/***************************************/

body {
    background-color: gray;
}

.mainContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: min-content;
    height: fit-content;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    width: min-content;
    position: relative;
    justify-content: cen;
}

.discountContainer {
    display: flex;
    flex-direction: row;
    z-index: 1;
    height: fit-content;
    width: 30%;
    align-items: center;
    position: absolute;
    margin-top: 10%;
    align-self: flex-end;
}

.discountContainer span {
    background-color: var(--primary);
    color: white;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    height: 28px;
    font-family: blackRaleway;
    margin-left: 40px;
    padding-left: 15px;
}

.discountImage {
    background-color: var(--primary);
    padding: 5px;
    border-radius: 50%;
    width: 25%;
    position: absolute;
}

.itemImage {
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

.onHover:after,
.onHover:before {
    position: absolute;
    opacity: 0;
    /* transition: all 0.5s;
    -webkit-transition: all 0.5s; */
}

.onHover:after {
    content: '\A';
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: rgba(202, 0, 0, 0.65);
}

.onHover:hover~.itemInfo {
    padding-top: 30px;
}

.onHover:hover:after,
.onHover:hover:before {
    opacity: 1;
}

.onHover:hover+.onHoverText {
    display: block;
}

.onHover:hover~#toHide {
    display: none;
}

.onHoverText {
    z-index: 1;
    width: 60%;
    align-self: center;
    position: absolute;
    margin-top: 50%;
    font-family: blackRaleway;
    text-align: center;
    color: white;
    font-size: 20px;
    display: none;
}

.itemName {
    display: flex;
    background-color: var(--primary);
    border-radius: 15px;
    text-align: center;
    width: 85%;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    position: absolute;
    margin-top: 95%;
    align-self: center;
    font-family: blackRaleway;
}

.itemInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    padding: 5px;
    align-self: center;
    justify-content: space-evenly;
    height: 50px;
}

.itemDetails {
    width: 80%;
    align-self: center;
    color: black;
    font-size: 18px;
    padding: 5px;
    margin-top: 30px;
    font-family: mediumRaleway;
}

.itemInfo button {
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
}

.itemInfo button:hover {
    color: black;
    background-color: var(--primary);
    cursor: pointer;
}

.nowText {
    font-family: blackRaleway;
    font-size: 25px;
    border-left: 2px solid var(--primary);
    padding-left: 5px;
}

.beforeText {
    font-family: regularRaleway;
    color: var(--primary);
}

.beforePriceText {
    font-family: regularRaleway;
    color: var(--primary);
    text-decoration: line-through;
}
