body {
    background-color: #212529;
    color: whitesmoke;

}

h1 {
    padding-top: 20px;
    margin-bottom: 30px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {

    width: 100%;
    margin: 0;

}

.formContainer {

    width: 100%;

}

.inputContainer {
 
    margin-bottom: 20px;
}

.container-sm {

    width: 40%;

    border-radius: 10px;
    background-image: url('./fondo.png');
    padding-bottom: 10px
}